# Core runtime
NODE_ENV=development
PORT=5000
DATABASE_URL=postgresql://user:password@localhost:5432/futureed
REDIS_URL=redis://localhost:6379
JWT_SECRET=change-me

# CORS / frontend
CORS_ORIGIN=http://localhost:3000
API_BASE_URL=http://localhost:5000/api/v1
FRONTEND_URL=http://localhost:3000

# SMTP mailer (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-16-char-app-password
SMTP_FROM="FutureEd LMS <your-email@gmail.com>"


META_APP_ID=4282468238633807
META_APP_SECRET=aa34cfd22561a2f4103ec40522adb474
META_WEBHOOK_VERIFY_TOKEN=futureed-webhook-2024
META_PAGE_ACCESS_TOKEN=EAA824dYgK08BR2PK40dJ1Pa3leUzun567LXG6ZBgLYsFLcPrIMCRBrtph3clovsTKE0ZBU4gf7iC4vLiZBNQHJUPie7wPFOEcgLdFjeB2geJ8mGtS83mKRp8EBLy5x0quwjmoUbIj0dEloLW1JvC9JZAVlyUAMX0psNmk3OTEN3ERhPclbIfZAB5zEiSFn3v4c806J3hGGcrIxNxqItnZC
META_PAGE_ID=1111321445407073
META_WHATSAPP_AUTO_REPLY=false